# Environment variables
.env

# Firebase credentials (keep these out of version control)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.modulemap
**/ios/Flutter/GeneratedPluginRegistrant.*
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
